body{
	background: url("space3.gif");
	background-position: center;
	background-repeat: no-repeat;
	padding:0;
	margin:auto; 
	background-size:cover;
	display:flex;
	flex-direction: column;
	align-items: center;
  
}

#astroNames li {
	-webkit-text-stroke: 0.5px black;
	list-style: none;
    	font-family: "Kanit";
	margin: 5px;
	font-size: 20px;
    	color:rgb(201, 219, 181);
    	display: flex;
    	align-items:center;
    	justify-content: center;
    	width: 400px;
    	height: 200px;
    	margin: 10px;



}



